    <!-- Site footer -->
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <!-- Added our copyright notice from lecture -->
        <h6 class="navbar-text mb-0">&copy; Copyright 2025. All rights reserved.</h6>

        <!-- Social links -->
        <a class="ms-3 text-light"
           href="https://github.com/ennmax"
           target="_blank"
           rel="noopener">
          <!-- Free Font Awesome GitHub icon + link -->
           <i class="fa-brands fa-github"></i> GitHub
        </a>
        <a class="ms-3 text-light"
           href="https://www.linkedin.com/in/shayaan-q-134255266"
           target="_blank"
           rel="noopener">
          <!-- Free Font Awesome LinkedIn icon + link -->
           <i class="fa-brands fa-linkedin"></i> LinkedIn
        </a>
      </nav>
    </footer>

    <script src="/Script/app.js"></script>
  </body>
</html>