<!DOCTYPE html>
<html>
  <head>
    <!-- Page title set dynamically from the route with EJS -->
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom site-wide stylesheet -->
    <link rel='stylesheet' href='/Content/app.css' />

    <!-- Bootstrap CSS loaded from node_modules -->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>

    <!-- Font Awesome icons -->
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'>

    <!-- jQuery and Bootstrap JS -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>